@page "/employee/{Id}"
@inherits BaseClass.EmployeeBC.Details

@if (isLoading)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Employee.FirstName @Employee.LastName</h1>
                </div>

                <div class="card-body text-center">
                    <h4>Employee ID: @Employee.Id</h4>
                    <h4>Employee Email: @Employee.Email</h4>
                    <h4>Employee Department ID: @Employee.DepartmentId</h4>
                    <h4>Employee Department Name: @(Employee.Department != null ? Employee.Department.Name : "N/A")</h4>
                    <button @onclick="@HideFooter">@(isShow ? "Hide Footer" : "Show Footer")</button>

                    <h4>Data Binding</h4>
                    <input value="@Name" @onchange="@(x => Name = x.Value.ToString())" />
                    <input @bind="@Name" />
                    <input @bind="@Name" @bind:event="oninput" />
                    <p>@Name</p>

                    <h4>Second Method</h4>
                    <b>Colour: </b> <input @bind="Colour" />
                    <div @bind-style="Colour" @bind-style:event="onchange">
                        <h3>The background colour of this text changes</h3>
                    </div>
                </div>

                @if (isShow)
                {
                    <div class="card-footer text-center">
                        <a href="/" class="btn btn-primary">Back</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
}

