@page "/employee/edit/{Id}"
@inherits BaseClass.EmployeeBC.Edit

<EditForm Model="@Employee">
    <DataAnnotationsValidator />

    <h3>Edit Employee</h3>
    <hr />
    <ValidationSummary />
    <div class="form-group row">
        <label class="col-2 col-form-label">First Name</label>
        <div class="col-10">
            <InputText class="form-control" placeholder="First Name" @bind-Value="Employee.FirstName"></InputText>
            <ValidationMessage For="@(() => Employee.FirstName)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Last Name</label>
        <div class="col-10">
            <InputText class="form-control" placeholder="Last Name" @bind-Value="Employee.LastName"></InputText>
            <ValidationMessage For="@(() => Employee.LastName)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-10">
            <InputText class="form-control" placeholder="Email Address" @bind-Value="Employee.Email"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Department</label>
        <div class="col-10">
            <InputSelect class="form-control" @bind-Value="Employee.DepartmentId">
                @foreach (var department in Departments)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Gender</label>
        <div class="col-10">
            <InputSelect class="form-control" @bind-Value="Employee.Gender">
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@gender</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Date Of Birth</label>
        <div class="col-10">
            <InputDate @bind-Value="Employee.DOB" class="form-control"></InputDate>
        </div>
    </div>
</EditForm>
